header{background-color:green;
       text-align:center;
	
}
nav{background-color:#bbff81;
    text-align:center;
	padding: 20 10px;
    margin: 0 10px;	
}

.contain{text-align:center}

body{background-color:#deffc2}


.con{background-color:#bbff81;
text-align:center}


